
*{
    box-sizing: border-box;
    text-decoration: none;
}



/* :::::::::::THE NAVIGATION:::::::::: */


.nav{
    background: #f1f4f7;;
    transition: height 1s ease-in-out;
    min-height: 5rem;
    width: 100%;
    align-items: center;
}

.nav .nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav .nav-brand a{
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    color: black;
}

nav button{
    display: none;
}



.nav .nav-items{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav .nav-items .li{
    font-size: 1.1rem;
    position: relative;
}

.nav .nav-items .li:hover{
    background-color:white;
}

.nav .nav-items .nav-link a{
    color:black;
}





html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.foot {
    background: #f1f4f7;
    padding: 1rem;
    color: #1659b500;
    text-decoration: none;
    height: 5rem; 
    position: relative;
    width: 100%;
}

.foot-menu {
    justify-content: space-between;
    margin-bottom: 1%;
}

.foot-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot-brand {
    text-align: center;
}

.social {
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.fas {
    color: #1c2b33;
}

.fa-brands {
    color: #1c2b33;
}



@media only screen and (max-device-width: 750px){
  
    nav button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        border: none;
        font-size: 2rem;
    }
    nav button#closeMenuBtn{
        display: none;
    }
    .nav .nav-items {
        position: fixed;
        top: 4rem;
        right:0;
        height: fit-content;
        width: 8rem;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        border: none;
        display: none;
        
    }
    .nav-items li{
       width: 100%;
       height: 3rem;
       padding: 1rem 1rem;
       border: 1px solid #f1f4f7;
       background: white;
       border-collapse: collapse;
       
    }

    .nav .nav-items li{
        cursor: pointer;
    }
   
    .nav .nav-items li:hover{
        background-color: #f1f4f7;
        color: white;
    }
    .social {
        margin-top: 1%;
        margin-left: 30%;
        margin-right: 30%;
   }
   


}
/*     Viewport less than or equal to 520px  - small phone  */
@media only screen and (max-width:520px){
    nav button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        border: none;
        font-size: 2rem;
    }
    nav button#closeMenuBtn{
        display: none;
    }
    .nav .nav-items {
        position: fixed;
        top: 4rem;
        right:0;
        height: fit-content;
        width: 8rem;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        border: none;
        display: none;
        
    }
    .nav-items li{
       width: 100%;
       height: 3rem;
       padding: 1rem 1rem;
       border: 1px solid #f1f4f7;
       background: white;
       border-collapse: collapse;
       
    }

    .nav .nav-items li{
        cursor: pointer;
    }
   
    .nav .nav-items li:hover{
        background-color: #f1f4f7;
        color: white;
    }
    .social {
        margin-top: 1%;
        margin-left: 30%;
        margin-right: 30%;
   }
   
}
