/*load google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/*:::::::::::::::::::RESET DEFAULT::::::::::::::::::::::::::*/
/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
} */
/*::::::::::::::::::::CSS VARIABLES::::::::::::::::::::*/
:root{
    /*::::::::::::::::Font colours::::::::::::::::::::*/
    --f1-colour:#fff;
    --f2-colour:#000;
    --f3-colour:rgba(0,0,0,0.8);
    --f4-colour:rgba(0,0,0,0.6);
    --f5-colour:#0099cc;
    --f6-colour:#88cee6;

    /*:::::::::::::::::Background colours:::::::::::::::::*/
    --bg1-colour:#fff;
    --bg2-colour:#000;
    --bg3-colour:#33ccff;
    --bg4-colour:#33cc33;
    --bg5-colour:#0099cc;
    --bg6-colour:rgba(0,0,0,0.4);
    --bg7-colour:rgba(0,0,0,0.2);
    --glass-bg:linear-gradient(
        to right bottom,
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.3)
    );
    --C-lg-bg:linear-gradient(45deg,#ff3399,#ff9933);

    /*::::::::::::::FONT SIZE:::::::::::::::::::::::::::*/
    --xxxl-fs:2.2rem;
    --xxl-fs:1.8rem;
    --xl-fs:1.6rem;
    --l-fs:1.4rem;
    --m-fs:1.2rem;
    --s-fs:1.1rem;
    --xs-fs:1rem;

}
/* .container, html{
    font-size: 10px; 
  }*/
/* body{
    display: flex;
    justify-content: center ;
    min-height: 100vh;
} */

/* .main_bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/back1.jpg");
    background-position: left;
    z-index: -1;
    filter: blur(15px);

} */

.container{
    top: 2.3rem;
    width: 90%;
    margin: 0% auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:"userProfile userDetails"
    "work_skills timeline_about"
    "work_skills timeline_about";
    
    background: var(--glass-bg);
    padding: 1rem;
    box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 25px rgba(0, 0, 0,0.08);
    grid-gap: 1rem;
}

/*::::::::::::::::::Container Card Grid-Area Start::::::::::::::::::::::*/


.userProfile
{
    grid-area: userProfile;
       
}
.work_skills
{
    grid-area: work_skills;

}
.userDetails{
    grid-area: userDetails;
}
.timeline_about{
    grid-area: timeline_about;
}




/*:::::::::::::::::::::::CONTAINER CARDS::::::::::::::::::*/
.container .card
{
    background: var(--glass-bg);
    backdrop-filter: blur(3rem);
    border-radius: .5rem;
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    padding:1.5rem;
}

/*:::::::::::::::::::::Container Header/Navbar CSS::::::::::::::::::::::::::*/


/* .container header{
    padding: 0 2.5rem;

}  */
/*::::::::::::::::::::Container Header::::::::::::::::::::::*/
/* .container header figure  img{
    height: 3.5rem;
    width: 3.5rem;
}

.container header .nav-container span{
    font-size: var(--xl-fs);
    font-weight: 700;
    margin-left: 0.5ren;
} */


/*::::::::::::::::::::::USER MAIN Profile::::::::::::::::::::*/
.container .userProfile{
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none; 
    backdrop-filter: none;
    box-shadow: none;

} 

.container .userProfile .profile figure img{
    width: 18rem;
    height: 18rem;  
    border-radius: 50%;
}

/*:::::::::::::::::::Work & Skills Css:::::::::::::::::*/
.container .work_skills{
    padding: 1.5rem;
    width: 90%;

}

.work_skills .work .heading,
.work_skills .skills .heading
{
    position: relative;
    font-size: var(--xs-fs);
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.work_skills .work .heading::before,
.work_skills .skills .heading::before
{
    content: '';
    position: absolute;
    bottom: 0;
    right:0;
    height: 0.1rem;
    width: 88%;
    background: var(--bg6-colour);

}

.work_skills .work .primary,
.work_skills .work .secondary{
    position: relative;
}

.work_skills .work .primary h1,
.work_skills .work .secondary h1{
    font-size: var(--l-fs);
    color: var(--f3-colour);
    margin-bottom: 0.6rem;

}
.work_skills .work .primary span,
.work_skills .work .secondary span{
    position: absolute;
    top: 0;
    right: 3rem;
    font-weight: 700;
    font-size: var(--s-fs);
    color: var(--f5-colour);
    background: #e6f2ff;
    padding: 0.4rem 1.0rem;
    border-radius: 0.4rem;

}
.work_skills .work .primary p,
.work_skills .work .secondary p{
    margin-bottom: 1.8rem;
    font-size: var(--m-fs);
    color: rgba(0,0,0,0.6);
    line-height: 1.6rem;

}

/*::::::::::::::Skills Bars::::::::::::::::*/
.work_skills .skills ul li
{
    position: relative;
    font-size: var(--m-fs);
    line-height: 1.8rem;
    margin: 0.5rem;
    color: var(--f2-colour);
    font-weight: 500;

}
.work_skills .skills ul li::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 0.2rem;
    background: var(--bg3-colour);
    width: 25%;
}


/*::::::::::::::::::::User Details::::::::::::::::*/
.userDetails{
    width: 90%;
    position: relative;
    padding: 1.5rem 2.5rem;
}
.userDetails .userName h1 {
    font-size: var(--xxxl-fs);
}
.userDetails .userName .map{
    display: flex;
}
.userDetails .userName .map .ri{
    margin-right: 0.3rem;
    font-size: var(--m-fs);
}
.userDetails img{
    height: 1.5rem;
    width: 1.5rem;
}
.userDetails .userName span{
    font-size: var(--s-fs);
    color: var(--f3-colour);
    font-weight: 700; 
}
.userDetails .userName p
{
    font-size: var(--m-fs);
    font-weight: 700;
    color: var(--f5-colour);
    margin-bottom: 1.3rem;
}

.userDetails .rank{
    position: relative;
    margin-bottom: 1.3rem;
}
.userDetails .rank h1{
    font-size: var(--xs-fs);
    color: var(--f4-colour);
    text-transform: uppercase;
    margin-bottom: 0.1rem;

}
.userDetails .rank p{
    font-size: var(--xl-fs);
    font-weight: 600;
    margin-bottom: 1rem;
}



.social {
    position: relative;
    margin-bottom: 1.3rem;
    
}
.social h1{
    font-size: var(--xs-fs);
    color: var(--f4-colour);
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}
.social span{
    font-size: var(--xxl-fs);
    font-weight: 700;
}



/*::::::::::Timeline & About:::::::::::*/
.timeline_about {
    width: 90%;
    padding: 2.5rem;
}

.timeline_about .tabs ul{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.timeline_about .tabs ul::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--bg7-colour);

}
.timeline_about .tabs ul li{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
}
.timeline_about .tabs ul li span{
    font-size: var(--l-fs);
    font-weight: 500;
}
.timeline_about .tabs ul li .ri
{
    margin-right: 0.5rem;
}
.timeline_about .tabs ul .active::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--bg5-colour);

}
.timeline_about .contact_info .heading,
.timeline_about .basic_info .heading
{
    font-size: var(--xs-fs);
    color: var(--f4-colour);
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.timeline_about .contact_info ul, 
.timeline_about .basic_info ul{
    margin-bottom: 1.5rem;
}
.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li{
    display: flex;
    margin: 0.5rem 0;
    

}
.timeline_about .contact_info ul li h1,
.timeline_about .basic_info ul li h1
{   
    font-weight: 500;
    font-size: var(--m-fs);
    min-width: 12rem;
}
.timeline_about .contact_info ul li span,
.timeline_about .basic_info ul li span{
    font-size: var(--m-fs);


}
.timeline_about .contact_info ul  .phone span,
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .site span
{
    color: var(--f5-colour);
}

/* small screen*/
@media only screen and (max-device-width: 750px){
    .container{
        top: 2.3rem;
        width: 90%;
        margin: 0% auto;
        display: inline-grid;
        grid-template-columns: auto;
        grid-template-areas: "one"
        "two"
        "three"
        "four";
        background: var(--glass-bg);
        padding: 1rem;
        box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 25px rgba(0, 0, 0,0.08);
        grid-gap: 1rem;
    }
    .userProfile
{
    grid-area: one;
       
}
.work_skills
{
    grid-area: three;

}
.userDetails{
    grid-area: two;
}
.timeline_about{
    grid-area: four;
}
.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li{
    display: inline-block;
    margin: 0.5rem 0;
    

}


}
