<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factory Weather App</title>
</head>
<body>
    <form action="" method="POST" >
        <label for="city">City</label>
        <input id="city" name="city" type="text">
        <Button id="submitForm">Get Weather Details</Button>
    </form>
    <div class="result">
        <p>{{weather_desc}}</p>
        <p>{{city_temp}}</p>
    </div>
    
</body>
</html>