
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pageContent {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.welcome {
    text-align: center;
}

.mainText {
    text-align: center;
    font-family: 'Amplitude';
    font-weight: 300;
    font-size: 1.0rem;
}

.imgDiv {
    text-align: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.imgDiv img {
    text-align: center;
    object-fit: cover;
    width: 95%;
    height: 300;
}

.introText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.box {
    overflow-wrap: break-word;
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}