
.container{
    text-align: center;
    margin: auto;
}

h1{
    font-family: 'Amplitude','Arial Narrow',sans-serif;
    color: #5f5d5d;
    font-size: 20px;
    margin-bottom: 15px;
}
h4{
    font-family: 'Amplitude','Arial Narrow',sans-serif;
    color: #5f5d5d;
    font-size: 16px;
    margin-bottom: 10px;
}

.city_img{
    margin-bottom: 10px;
}
.city_img img{
    width: 100%;
    height: 20vh;
    object-fit: center;
    text-align: center;
}
.container p{
    width: 90%;
    font-size:18px;
    margin: auto;
    margin-bottom: 5px;
    font-family: 'Amplitude','Arial Narrow',sans-serif;
}
@media only screen and (min-width:720px){
    
    .city_img img{
        text-align: center;
        object-fit: cover;
        /* width: 95%; */
        height: 300px;
    }
    .container p{
        width: 50%;
    }
}