
.container{
    flex: 1;
    text-align: center;
    margin: auto;
}

h1{
    font-family: 'Amplitude','Arial Narrow',sans-serif;
    color: #5f5d5d;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5%;
}
h4{
    font-family: 'Amplitude','Arial Narrow',sans-serif;
    color: #5f5d5d;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.city_img{
    margin-bottom: 10px;
}
.city_img img{
    width: 100%;
    height: 20vh;
    object-fit: center;
    text-align: center;
}
.container p{
    width: 90%;
    font-size: 15px;
    margin: auto;
    margin-bottom: 5px;
    font-family: 'Amplitude','Arial Narrow',sans-serif;
}

.joinUs {
    position: relative;
    bottom: 10%;
    left: 0;
    right: 0;
}

@media only screen and (min-width:720px){
    
    .city_img img{
        text-align: center;
        object-fit: cover;
        /* width: 95%; */
        height: 300px;
    }

    .container{
        flex: 1;
        text-align: center;
        margin: auto;
    }

    .container p{
        width: 50%;
    }

    .joinUs {
        position: relative;
        padding-top: 2%;
        bottom: 10%;
        left: 0;
        right: 0;
    }
}