.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    margin: 10px 0;
    height: 550px;
    width: 300px;
    background: #d9d9d9;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.form_container header{
    margin:40px 10px ;
    display: flex;
    justify-content: space-around;
}
header h2{
    font-size: 18px;
    font-family: 'Amplitude','Arial Narrow',sans-serif;
    color: #5f5d5d;
    display: inline-block;
    padding: 10px;
}
header h2:hover{
    cursor: pointer;
}
header #signUpSwitch{
    border-bottom: 3px solid black;
}

.form_container form p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: left;
    
}
.form_container form p:not(.excess){
    margin-bottom: 40px;
    margin-left: 15px;
}
.form_container form p span{
    color: #6495ED;
}
.form_container form input{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid rgb(176, 166, 166) ;
    padding: 5px 20px;
}
.form_container form input:not(.last_input){
    margin-bottom: 30px;
}
form iconify-icon{
    position: absolute;
    margin-left: -25px;
    margin-top: 6px;
}
form iconify-icon:hover{
    cursor: pointer;
}
.excess{
    margin-top: 5px;
    margin-left: 30px;
}

.form_container form button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    font-family: 'IM Fell English SC', serif;
    border: 2px solid rgb(176, 166, 166) ;
    font-size: 16px;
    background: #708090;
    margin-top: 40px;
}
.form_container form button:hover{
    cursor: pointer;
    background: #6495ED;
    color: wheat;
}
#loginForm{
    display: none;
}
/* #signUpForm{
    display: none;
} */