:root{
    --input-border-radius: 0.5rem
}

*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;

}


.container
{
    width: 85%;
    margin: auto;
}

.body-details{
    margin-top:3rem ;
}

.form-container{
    width: 30rem;
    min-height: 35rem;
    margin: auto;
    background-color: #f1f4f7;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.form-item
{
    margin-bottom: 1rem;
}

.form-item label
{
    display: inline-block;
    color: black;
    width: 5rem;
    text-align: right;
}

.form-item input
{
    line-height: 2rem;
    border-radius: var(--input-border-radius);
    padding: 0.2rem 0.5rem;
    outline: 0;
    transition: 300ms;
    margin-left: 2rem;
    width: 20rem;
}

@media only screen and (max-width: 750px){
    /* html,body{
        font-size: 0.8rem;
    } */
    .form-container{
        width: 70%;
        min-height: 35rem;
        margin: auto;
        background-color: #f1f4f7;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
        text-align: center;
        padding: 1rem;
        margin-bottom: 3rem;
    }
    .form-item label
    {
        display: inline-block;
        color: black;
        width: 4rem;
        text-align: right;
        font-size: 0.5rem;
    }
    .form-item input
    {
        line-height: 1rem;
        border-radius: var(--input-border-radius);
        padding: 0.2rem 0.5rem;
        outline: 0;
        transition: 300ms;
        margin-left: 1rem;
        width: 65%;
    }
}
.photo-input{
    display: inline-block;
    padding-left: 1rem;
}

.form-item input[type = "file"]
{   
    color: gold;
}

.btn{
    line-height: 2rem;
    padding: 0.2rem 0.5rem;
    outline: 0;
    width: 8rem;
    border-radius: 1rem;
    margin: auto;
    border: 2px solid rgb(176, 166, 166) ;  
    transition: ease 200ms;
    background-color: slategray;
    cursor: pointer;
}

.btn:hover{
    background-color: #6495ED;
    color: whitesmoke;
 }



