.profile_container{
    width: 320px;
    height: 650px;
    background: linear-gradient(
        to right bottom,
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.3)
    );
    box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 25px rgba(0, 0, 0,0.08);
    margin: 10px auto;
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}
.profile_container img{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 40px;
}
.profile_box{
    width: 250px;
    margin: auto;
    margin-top: 20px;
    min-height: 100px;
    background:  linear-gradient(
        to right bottom,
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.3)
    );;
    backdrop-filter: blur(3rem);
    border-radius: .5rem;
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    /* padding:1.5rem; */
}
.user_profile{
    height: 150px;
    font-family: 'IM Fell English SC', serif;
    text-align: left;
    padding: 15px;
}
#fullName{
    font-size: 18px;
    margin-bottom: 5px;
}
#professionalTitle{
    color:#067B7B;
    margin-bottom: 5px
}
#city{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}
.rank{
    font-size: 14px;
}
.rank p{
    margin-bottom: 2px;
}
.rank label{
    display: inline-block;
    width: 80px;
    margin-right: 10px;
}
.interests{
    font-family: 'IM Fell English SC', serif;
    text-align: left;
    padding: 15px;
}
.interests ul{
    list-style: none;
}
.interests li::after{
    content: '';
    position: absolute;
    height: 3px;
    background: #6495ED;
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 1.5px;
}
.timeline__about{
    padding: 15px;
    font-family: 'IM Fell English SC', serif;
    text-align: left;
}
.timeline__about h4{
    font-size: 14px;
    display: block;
    border-bottom: 1px solid black;
}
.timeline__about h4 span{
    padding: 0 10px; 
}
.timeline__about h4 span:hover{
    cursor: pointer;
}
.timeline__about h4 .span__all{
    display: inline-block;
    padding: 0 5px;
}
.about::before{
    content: '';
    position: absolute;
    height: 3px;
    background: #6495ED;
    width: 60px;
    margin-top: 17px;
    border-radius: 1.5px;
}
.about_details p{
    margin-bottom: 5px;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
}
.about_details label{
    display: inline-block;
    width: 60px;
    text-align: left;
    margin-right: 5px;
}
.about_details span{
    font-family: 'IM Fell English', serif;
    font-size: 14px;
}
.about_details h6{
    font-size: 14px;
}
@media only screen and (min-width:720px){
    .profile_container {
        top: 2.3rem;
        width: 90%;
        height: auto;
        margin: 0% auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
        "img user_profile"
        "interests timeline__about";
        /* "interests timeline__about"; */
        /* "img interests"
        "user_profile timeline__about"
        "user_profile timeline__about"; */
        
        background: linear-gradient(to right bottom,rgba(255,255,255,0.5), rgba(255,255,255,0.3)
        );
        padding: 1rem;
        box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 25px rgba(0, 0, 0,0.08);
        grid-gap: 1rem;
    }
    .user_profile{
            grid-area: user_profile;
            
        }

    img
        {
            grid-area: img;

        }
    .interests{
            grid-area: interests;
        }
    .timeline__about{
            grid-area: timeline__about;
    }

    .profile_container img{
        height: 8rem;
        width: 8rem;
        margin: auto;
    }
    .profile_box{
        width: auto;
        margin: 0;
        height: 200px;
        /* padding:1.5rem; */
    }
    .about_details{
        display: flex;
        flex-direction: column;
    }
    .about_details label{
        width: 120px;
        text-align: left;
    }
}