*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    width: 85%;
    margin: auto;
}

body{
    background-color: wheat;
    /* background-color: azure; */
}


/* ::::::::::::::::::::::::nav-bar:::::::::::::::::::::::::::::: */
nav{
    background-color:#F2F2F2;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

nav li{
    display: inline-block;
    margin-left: 3rem;
    align-items: center;
}
.nav-items-container a {
    font-size: 0.7rem;
    transition: all 500ms ease;
}

.nav-items-container a:hover {
    font-size: 1rem;
    color: black;
}

/* :::::::::::::::::::::::::::FORM:::::::::::::::::::::::::::::::::::: */

.form-container{
    margin: auto;
    margin-top: 6rem;
    width: 20rem;
    height: 30rem;
    background-color: whitesmoke;
    padding:20px 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.form-header{
    cursor: pointer;
    margin-bottom: 3rem;
}
.form-header h2{
    display: inline-block;
    margin-left: 3rem;
    
}
#Selector{
    border: none;
    background: aqua;
    height: 3px;
    width: 7rem;
    margin-top: 0.5rem;
    transform: translateX(2rem);
}
/* .item{
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
} */
.item h3{
    width: 5rem;
    text-align: left;
}
.account-form form{
    max-width: 20rem;
    padding: 0 1.5rem;
    position: absolute;
}
.switch_btn{
    border: none;
    background: none;
    color: rgb(6, 123, 123);
    display: inline;
    margin: 0;
    display: inline;
    outline: none;
    width: auto;
    padding: 2px;
    text-align: left;
    text-decoration: underline;
}

.account-form input{
    font-size: medium;
    line-height: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    padding:0 1rem;
    margin: 1rem 0;
    border: 2px solid rgb(176, 166, 166) ;
}
#Password{
    margin-top: 1rem;
    margin-bottom: 0;
}

.account-form label{
    margin-top: 0;
    margin-bottom: 1rem;
    visibility: hidden;
}

.account-form .btn{
    width: 100%;
    line-height: 2rem;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;  
    border: 2px solid rgb(176, 166, 166) ;  
    transition: ease 200ms;
    background-color: aqua;
    margin: 1rem 0;
}

.account-form .btn:hover{
   background-color:rgb(6, 123, 123) ;
   color: whitesmoke;
}


/* form{
    
} */