<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>TheFactory</title>

    {% block stylesheet %} {% endblock stylesheet %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>
  <body>
    <nav class="nav">
      <div class="nav-menu">
        <div class="nav-brand">
          <a href="#" class="text-gray">TheFactory</a>
        </div>
       <!-- <div class="toggle-collapse">
          <div class="toggle-icons">
            <i class="fas fa-bars"></i>

          </div> -->
     
            <ul class="nav-items" id="menu">
              <li class="nav-link"><a href="{{ url_for('launch') }}">Home</a></li>
              <li class="nav-link"><a href="{{ url_for('about') }}">About</a></li>
              <li class="nav-link"><a href="{{ url_for('program') }}">Programs</a></li>
              <li class="nav-link"><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
            <button id="closeMenuBtn"><i><img src="{{url_for('static',filename= 'img/close1.png')}}" height="35px" alt="close menu items button" ></i></button>
            <button id="openMenuBtn"><i class="fas fa-bars" ></i></button>
    
      </div>
    </nav>
    {% block body_content %}{% endblock body_content %}
    <footer class="foot">
      <div class="foot-menu">
        <div class="foot-brand">
          <a href="#" class="text-gray"
            ><i class="fas fa-contact">Contact Us</i></a
          >
        </div>
        <div class="social">
          <a href="#"><i class="fas fa-location"></i></a>
          <a href="#"><i class="fas fa-envelope"></i></a>
          <a href="#"><i class="fas fa-phone"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </footer>

    <!--------jquery library file-->
    <script src="/static/js/jquery3.6.1.min.js"></script>

    <!-----Base script---->
    <script src="/static/js/base.js"></script>
  </body>
</html>
