<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheFactory</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+English&family=IM+Fell+English+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/base.css')}}"
    />
    {%block stylesheet_content%} {%endblock stylesheet_content%}
  </head>
  <body>
    <nav>
      <div class="nav_container">
        <span class="logo">TheFactory</span>
        <iconify-icon
          id="menuDisplay"
          icon="eva:menu-outline"
          width="36"
        ></iconify-icon>
        <iconify-icon id="menuClose" icon="mdi:close" width="36"></iconify-icon>
        <ul class="nav_items" id="navList">
          <li class="nav_item"><a href="{{ url_for('launch') }}">Home</a></li>
          <li class="nav_item"><a href="{{ url_for('about') }}">About</a></li>
          <li class="nav_item">
            <a href="{{ url_for('program') }}">Programs</a>
          </li>
          {% if session['logged_in'] == True %}
          <li class="nav_item">
            <a href="{{ url_for('logout') }}"
              >Logout</a
            >
          </li>
         
          {% else %}
          <li class="nav_item">
            <a href="{{ url_for('login') }}"
              >Login</a
            >
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>
    {% block body_content %}{% endblock body_content %}
    <footer>
      <div class="footer_container">
        <header class="footer_header">Contact Us</header>
        <div class="contact_icons">
          <iconify-icon
            icon="material-symbols:my-location-rounded"
            width="20"
          ></iconify-icon>
          <iconify-icon icon="material-symbols:mail" width="20"></iconify-icon>
          <iconify-icon
            icon="ic:baseline-local-phone"
            width="20"
          ></iconify-icon>
          <iconify-icon icon="ic:outline-facebook" width="20"></iconify-icon>
          <iconify-icon icon="ri:instagram-fill" width="20"></iconify-icon>
          <iconify-icon icon="mdi:twitter" width="20"></iconify-icon>
          <iconify-icon icon="ri:youtube-fill" width="20"></iconify-icon>
        </div>
      </div>
    </footer>
  
    <script src="/static/js/base.js"></script>
    <script src="/static/js/jquery3.6.1.min.js"></script>
    {% block script_content %}{% endblock script_content %}
  </body>
</html>
