<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TheFactory</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="navDiv">
      <nav>
        <div class="nav-container">
          <h3>TheFactory</h3>
          <ul class="nav-items-container">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('program') }}">Programs</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="form-container account-form">
      <div class="form-header">
        <h2 onclick="switch_reg_form()">Sign Up</h2>
        <h2 onclick="switch_login_form()">Login</h2>
        <hr id="Selector" />
      </div>

      <form id="RegForm" onsubmit="get_sign_up_details()" action="">
        <p>
          Alread have an account?
          <button
            class="switch_btn"
            id="LoginSwitch"
            type="button"
            onclick="switch_login_form()"
          >
            Login
          </button>
        </p>
        <input type="text" required id="FullName" placeholder="Full Name" />

        <input
          type="text"
          id="MobileNumber"
          required
          placeholder="Mobile Number"
        />
        <input type="email" id="Email" required placeholder="Email" />

        <input
          id="Password"
          type="password"
          oninput="password_validation()"
          required
          placeholder="Password"
        />
        <label id="PasswordValidationMessage">HELLO</label>
        <button class="btn">Sign Up</button>
      </form>

      <form id="LoginForm" style="visibility: hidden" action="">
        <p>
          Don't have an account?
          <button
            class="switch_btn"
            id="SignUpSwitch"
            type="button"
            onclick="switch_reg_form()"
          >
            Sign Up
          </button>
        </p>
        <input id="loginEmail" type="email" placeholder="Email" />
        <input id="loginPassword" type="password" placeholder="Password" />
        <button class="btn">Login</button>
      </form>
    </div>

    <footer></footer>
    <script src="/static/js/login.js"></script>
  </body>
</html>
